#trainee_id{
    color:black;
    font-size:14pt
}
#trainee_psid{
    color:black;
    font-size:14pt;
    border-color: transparent
}
.objectivescore{
    font-size:14pt;
    color:#47A7F3
}
#ans_sheet{
    color:#47A7F3
}
.nextbtn{
    background-color:#47A7F3
}
a.nextbtn:hover{
     background: #0C80DF;
}
.donebtn{
    background-color: #47A7F3
}
button.donebtn:hover{
     background: #0C80DF;
}
#subjective_question{
    color:black;font-weight:bold
}
#note_edit{
    width:20pt
}
#obj_score{
    font-size:14pt
}