.sidebar_style
{
height:110%;
margin-left:0%;
margin-top:0%;
position:absolute; 
margin-bottom:0%;
}

.secondColumn_style
{
height:100%; 

margin-right:0%;
}

.studentName_style
{
width:100%;
 margin-top:0%; 
 margin-left:0%;
 height:250px
}

.graph_style
{
 height:500px;
 width:500px;
 margin-bottom:0%;
 margin-left:10%;
 margin-top:0%;
}
.graph_title
{
background-color: #7986CB;
margin-top:10%;
 margin-left:10%;
 width:500px;
 color: #fff;
}
.evaluateTest_style
{
height:250px; 
margin-top:13%;
width:150px;
margin-right:0%;
}

.classRanking_style
{
 margin-top:0%;
 margin-left:0%;
 height:350px;
}

.comment_style
{
height:350px;
 margin-top:5%;
 margin-left:0%; 
 margin-right:0%;

}

.txt_style
{
padding-left:0%; 
padding-top:0%;
margin-bottom:0%;
height:16px;
}

.rankDisplay_style
{
padding-left:0%; 
padding-top:10%;
margin-bottom:0%;
height:24px;
font-size:1.2em;
}