<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Chart.js demo</title>
<script  src='assets\Chart.js-master\Chart.js'></script>
    <script>
	
	//function to get random color 
	//for different institutes
	/*function getRandomColor() 
	{
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) 
		{
        color += letters[Math.floor(Math.random() * 16)];
		}
    return color;
	}*/
	function getRandomColor(){
var r = (Math.round(Math.random()* 127) + 127).toString(16);
var g = (Math.round(Math.random()* 127) + 127).toString(16);
var b = (Math.round(Math.random()* 127) + 127).toString(16);
return '#' + r + g + b;
}
	
	//function to add labels i.e. Test1,Test2 etc on x-axis of chart
	function addLabels()
		{
		//alert("labels to be added");
		var Lst=getMarks();
		//alert(Lst[0].length);
		var labelLst=[];
		var x=0;
		for(i=0;i<Lst[0]["m"].length;i++)
		{
		var y=parseInt(i)+1;
		labelLst[i]="Test "+ y ;
		}
		return labelLst;
		}
		
//creating chart data
  var marksData = {
            labels: addLabels(),//["Test 1 ","Test 2","Test 4 ","Test 4","Test 5 ","Test 6","Test 7 "],
			datasets: []
				};
				
		/*getMarks() returns a 2d array univMarks[i][j] with
		"i" being a TEST and "j" being average of marks of all
the students of "i" college in a particular test*/
		function getMarks()
		{
		//alert("Getmarks mein hu");
		var univMarks=[
		{m:[40,57,46,75,34,87,56],name:"A Institute"},
		{m:[67,45,78,74,39,95,75],name:"B Institute"},
		{m:[57,75,98,73,30,35,55],name:"C Institute"},
		{m:[40,57,46,75,34,87,56],name:"D Institute"},
		{m:[67,45,78,74,39,95,75],name:"E Institute"},
		{m:[57,75,98,73,30,35,55],name:"F Institute"},
		{m:[40,57,46,75,34,87,56],name:"G Institute"},
		{m:[67,45,78,74,39,95,75],name:"H Institute"},
		{m:[57,75,98,73,30,35,55],name:"I Institute"}];
		//alert(univMarks[0]["name"]);
		return univMarks;
		}
		
		//function to add data to chart
		function addAnotherData()
		{
		//alert("Inside addAnother");
		//var newdataset=[];
		var marksLst=getMarks();
		for(i=0;i<=marksLst[0]["m"].length;i++)
		{
		//alert(marksLst[0]["m"].length);
		var newdataset=  {
			label:marksLst[i]["name"],
            fillColor: getRandomColor(),
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: marksLst[i]["m"] 
        };
		marksData.datasets.push(newdataset);
		//alert(marksData.datasets[i].fillColor);
		//alert(datasets[i]["label"]);
		}
		myChart.destroy();
		//alert(marksData.datasets[0]["fillColor"]);
		var newChart=new Chart(marksId).Bar(marksData,{ showTooltips: true,
														animationEasing: "easeOutBounce",
														scaleShowLabels: true,
														responsive: true,
														maintainAspectRatio:false,
														barValueSpacing : 30,
														barDatasetSpacing : 1,
													    legendTemplate : "<ul><% for (var i=0; i<datasets.length; i++){%><li style=\"list-style:none;width:150pt;font-size:15pt;background-color:<%=datasets[i].fillColor%>\"><span style=\"color:black\"><%if(datasets[i].label){%><%=datasets[i].label%><%}%></span></li><%}%></ul>"
														}
													);
		document.getElementById("legendDiv").innerHTML = newChart.generateLegend();

		}
		</script>
    </head>
<body>
<h2><center>Batch 102</br>Institutes</center></h2>

<canvas id="canvasId" width="600" height="400"></canvas>
    <div id="legendDiv"></div>

	<script>
		 var marksId = document.getElementById('canvasId').getContext('2d');
		var myChart=new Chart(marksId).Bar(marksData);
		
		window.onload=function(){
		//alert("load hua");
		addAnotherData();
		};
    </script>
</body>
</html>