.blue-color
{
    background-color: #42A5F5;
    
}
.width-photo
{
    min-width: 30%;
   
}
.bg-photo
{
 background-color:gainsboro;
}
.grey-color
{
    background-color:gainsboro;
}
.border
{
    border-bottom: #42A5F5;
}
.submitbutton:hover,.addphoto:hover,.submitbutton:focus,.gobtn:hover
{
background-color:#42A5F5;
    color:#fff;
}

.clearbtn:focus,.clearbtn:hover
{
background-color:rgb(170, 168, 168);
}
 
input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly])
{
border-bottom: 1px solid #42A5F5;
box-shadow: 0 1px 0 0 #42A5F5; 
}

input[type=text]:active,input[type=password]:active
{
border-bottom: 1px solid #42A5F5;
box-shadow: 0 1px 0 0 #42A5F5; 
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label
{
    color:#42a5f5;
}
.submitbutton,.clearbtn
{
    margin-bottom:2%;
}