.row2{
    margin-top: 5%;
}
.col2{
    margin-left: 12%;
}

.profile-pic{
    height: 50px;                    width: 50px;
    border-radius:50%;    
}
.text-light {
    color: #757575;
}
.comment{
    padding-left:10px;
}        .test_topic,.comment_adminname,.comment{
    color: #42a5f5;
}
        /*Comment done*/
        

/*Class Rank*/ 
/*Individual Rank*/      
.rank-display{
    padding-left:85%;
    font-size: 1.6em;
    color: #81C784;
}
/*
.commentcol{
    width:100%;
}
*/
/*
.classpanel{
margin-left: 3%; 
    width: 100%;
}
*/
/*
.testpanel{
 
 
    width:50%;
    height:30%;
}
*/
/*
.commentpanel{
    margin-left: 5%;
    margin-right: 10%;
    width:100%;
}
*/
/*
.panel-default{
    margin-left: 20%;
}
*/
.panel-default>.Current-rank-header{
    background-color: #42A5F5;
    Color:white;
}
.panel-default>.score-header{
    background-color:#81C784;
    Color:white;
}
.score_list{
    display: flex;
}
.score-display{
    padding-left: 67%;
    padding-top: 2%;
    font-size:1.2em;
    color: #42A5F5;
}

        
        /*End rank*/

        /*Sidebar*/

body {
    background: #F1F3FA;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #212121;
    height: 100%;
    width: 15%;
    margin-left: -2%;
    margin-top: -1%;
    position: fixed;

}

.profile-userpic{
    margin-left: -7%;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 200px;
    height:200px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
   border-radius: 50% !important;
    
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
    margin-left: -7%;
}

.profile-usertitle-name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}
    
.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
  /*border-bottom: 1px solid #f0f4f7;*/
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover{
    background: #141414;
    color: #fff;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #fff;
    background: #141414;

  /*border-left: 2px solid #757575;*/
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}



/*End SideBar*/

/*Header*/

.drop{
    background: white;
    color: #48A7F2;
    box-shadow: none;
   
    padding: 0;
    padding-right: 30%;
}
.drop-btn{
    margin-top: 20%;
}
.drop-btn:hover{
    background: white;
    box-shadow: none;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #48A7F2;
}
.pagesection{
    border-bottom: 1px solid #ebebeb;  
    width:1600px;
    
}
.row1{
    position: fixed;
    margin-left: -2%;
    z-index: 10000;
    background-color: white;
}


/*End Header*/

/*Graph*/
/*
.graphpanel{
    margin-left: 10%;
}
*/
.testresult_graph
        {
            
            width:inherit;
            height:inherit;
        }
/*End Graph*/

/*Take Test*/
.taketest{
    margin-top: 20%;
    height:250px;
    background-color:#7986CB;   }
.white-text>a{
    color: white;
}
/*End Take Test*/