.save-btn,.save-btn:hover{
    height: 36px;
    width: 144px;     
}
.mark-btn,.mark-btn:hover{
     background-color: #FFB74D;
    border-color: #FFB74D;
}
.nextq-btn,.nextq-btn:hover{
    background-color: #7986CB;
    border-color: #7986CB;
}
.text-light{
    color: #757575;
    font-size: large;
    margin-bottom: 0.5%;
}
/*
.panelheading{
    margin-left: 2%    
}
*/
.sectiontoolbar{
    width: 290px;
   height: 42px;
    display: table;
    margin-left: 9%;
}
.cell{
    display: table-cell;
}
.questioncell{
    width:137px;
}
.scorecell{
    width:153px;
}
.media-left{
    padding-top: 15%;
}
.qt{
    height: 15px;
    font-family: RobotoDraft;
    font-size: large;
    margin-top: 5%;
}
.row1{
    margin-left: 15%;
    margin-top: 2%;
}
.num{
    font-size: x-large;
}
.pagesection{
    border-bottom: 1px solid #ebebeb;
}
.nav-main{
  padding-top:1%;   
}
.drop{
    background: transparent;
    color: #48A7F2;
    box-shadow: none;
}
.drop-btn:hover{
    background: transparent;
    box-shadow: none;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #48A7F2;
}
.countdown-period{
    display:block;
}
.countdown-section {
    display: block;
    float: left;
    font-size: 75%;
    text-align: center;
    width:32.5%;
    padding: 16px 0;
}
.countdown-amount {
    font-size: 200%;
}
.cat{
   margin-left: 5%;    
}
.icon-block.s30 {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    color:white;
}
.bg-green-400{
    background-color: #66bb6a;
}
.bg-blue-400{
    background-color: #42a5f5;  
}
.bg-yellow-400{
    background-color: #FFB74D;  
}

.bg-grey-400 {
    background-color: #bdbdbd;
}
.media-left{
    padding-top: 0%;
}
.text-green{
    color: #66bb6a;
}
.text-blue{
    color: #42a5f5;
}
.text-yellow{
    color:#FFB74D;
}
.iconbg{
    color: black;
    background-color: lightgrey;
}
.fa-question,.fa-diamond{
    margin-top: 25%;
}



