<div class="container">
               <!--  For Tab -->
<div class="col l3 z-depth-6 card-panel  blue-color" >
      <span class="white-text text-darken-2" style="font-Size:190%">Manage Account</span>

                   </div>
        
             
               
               <!-- The form-->
                <div class="col l3 z-depth-6 card-panel">
                   
   
    <form class="col l12">
        
        <div class="row">
        <div class="input-field col l2">
          
          <label >Add Photo</label>
           
        </div>
             <div class="input-field col l2  width-photo ">
            <img src="noPhoto-icon.png" class="responsive-img bg-photo  " style="height:25%;"/>
                 <button class="btn waves-effect grey-color" style="height:6%;">Add Photo</button>  
          
               </div>  
        </div>
        
        
      <div class="row">
        <div class="input-field col l6  ">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        </div>
       
         
         <div class="row">
        <div class="input-field col l6">
          <input placeholder="Placeholder" id="password" type="password" class="validate">
          <label for="password">Old Password</label>
        </div>
        </div>
         
         <div class="row">
        <div class="input-field col l6">
          <input placeholder="Placeholder" id="password" type="password" class="validate">
          <label for="password">New Password</label>
        </div>
        </div>
         
         <div class="row">
        <div class="input-field col l6">
          <input placeholder="Placeholder" id="password" type="password" class="validate">
          <label for="password">Confirm new Password</label>
        </div>
        </div>
        </form> 
                    
                    
                   <!--Button -->
                   <button class="btn waves-effect blue-color" type="submit" name="action">Submit
  </button>
               </div><!-- container-->
 </div>
         
               <!-- container-->